<div
  [style.width]="size"
  [style.height]="size"
  class="avatar-container ion-activatable"
  (click)="openActionSheet()">
  <ion-ripple-effect></ion-ripple-effect>
  <img
    [src]="profilePictureUrl$ | async"
    alt="avatar"
    class="avatar-image" />
  <input
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    #fileInput
    style="display: none" />
  <ion-icon
    name="pencil"
    class="edit-icon">
  </ion-icon>
</div>

<ion-action-sheet
  [isOpen]="(openActions$ | async) === true"
  (didDismiss)="actionResult($event)"
  header="Actions"
  [buttons]="actionSheetButtons">
</ion-action-sheet>
