<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Confirm your identity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Insert the code</ion-title>
    </ion-toolbar>
  </ion-header>

  <p class="subtitle">
    Hey there! Could you please enter the code we've sent to your <b>email</b>?
    It's just to make sure it's really you.
  </p>

  <form
    [formGroup]="form"
    class="form">
    <ion-input
      mode="md"
      type="text"
      formControlName="code"
      label="Verification code"
      labelPlacement="stacked"
      fill="outline">
    </ion-input>

    <ion-button
      (click)="submit()"
      type="submit"
      expand="block"
      class="mx-auto mt-1"
      color="primary">
      Verify
    </ion-button>
  </form>
</ion-content>
