<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>App settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <p class="subtitle">
    Here you can change your app settings, like language and currency
  </p>

  <form
    [formGroup]="form"
    (ngSubmit)="updateSettings()"
    class="form">
    <ion-select
      mode="md"
      fill="outline"
      labelPlacement="stacked"
      label="Language"
      formControlName="language">
      <ion-select-option value="it-IT">Italian</ion-select-option>
      <ion-select-option value="en-US">English (American)</ion-select-option>
    </ion-select>

    <ion-select
      mode="md"
      fill="outline"
      labelPlacement="stacked"
      label="Currency"
      formControlName="currency">
      <ion-select-option value="EUR">€ Euro</ion-select-option>
      <ion-select-option value="USD">$ US Dollar</ion-select-option>
    </ion-select>

    <ion-button
      type="submit"
      expand="block"
      class="mt-1"
      color="primary">
      Confirm
    </ion-button>
  </form>
</ion-content>
