<ion-fab style="margin-left: -7px">
  <ion-fab-button size="small">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="end">
    <ion-fab-button (click)="isEntertainmentOpen = true">
      <ion-icon name="eye-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="isEateryOpen = true">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="isAccommodationOpen = true">
      <ion-icon name="bed-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="isTransportationOpen = true">
      <ion-icon name="bus-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<app-new-event-entertainment
  (activityAdded)="propagate($event)"
  [id]="id()"
  [date]="date()"
  [(openModel)]="isEntertainmentOpen">
</app-new-event-entertainment>

<app-new-event-transportation [(openModel)]="isTransportationOpen">
</app-new-event-transportation>

<app-new-event-eatery [(openModel)]="isEateryOpen"></app-new-event-eatery>

<app-new-event-accommodation [(openModel)]="isAccommodationOpen">
</app-new-event-accommodation>
