<ion-fab style="margin-left: -7px">
  <ion-fab-button size="small">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="end">
    <ion-fab-button (click)="openModel.emit('entertainment')">
      <ion-icon name="eye-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="openModel.emit('eatery')">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="openModel.emit('accommodation')">
      <ion-icon name="bed-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="openModel.emit('transportation')">
      <ion-icon name="bus-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
