<ion-fab style="margin-left: 10px">
  <ion-fab-button size="small">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="end">
    <ion-fab-button (click)="isModalOpen = true">
      <ion-icon name="bus-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="walk"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="bed-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<app-new-event-transportation [(openModel)]="isModalOpen">
</app-new-event-transportation>
