.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;

  span {
    font-weight: 500;
    color: var(--ion-color-dark);
  }

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--ion-color-light);
  }

  &::before {
    margin-right: 0.5rem;
  }

  &::after {
    margin-left: 0.5rem;
  }
}

.signup,
.forgot-password {
  text-decoration: underline;
  color: var(--ion-color-primary);

  ion-button {
    margin: 0 0 0 auto;
    --padding-start: 0px;
  }
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  ion-button {
    --background: var(--ion-color-light);
    --color: var(--ion-color-dark);

    svg {
      margin-right: 10px;
    }
  }
}
