<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-container">
    <div
      class="profile-info"
      *ngIf="profile$ | async as profile">
      <app-avatar
        size="60px"
        imageUrl="https://www.w3schools.com/howto/img_avatar{{
          profile.sex === 'F' ? '2' : ''
        }}.png"
        altText="Alt Text">
      </app-avatar>
      <ion-text>
        <p class="full-name">
          {{ profile.firstName + " " + profile.lastName }}
        </p>
        <p class="see-profile">{{ profile.email }}</p>
      </ion-text>
    </div>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-label>Settings</ion-label>
    </ion-list-header>
    <ion-item routerLink="/tabs/profile/personal-information">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Personal Information</ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/profile/notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/profile/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>App Settings</ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/profile/security">
      <ion-icon name="shield-outline"></ion-icon>
      <ion-label>Security</ion-label>
    </ion-item>
  </ion-list>

  <div class="footer">
    <ion-buttons
      class="logout"
      slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>

    <p class="app-version">App Version 1.0.0</p>
  </div>
</ion-content>
