<h1 class="text-bold">Account</h1>
<div class="mt-2">
  <div class="container">
    <p class="description">Delete your account</p>
    <ion-buttons
      class="logout"
      slot="end">
      <ion-button
        id="open-action-sheet"
        color="danger"
        class="underline">
        Delete
      </ion-button>
    </ion-buttons>
  </div>
</div>

<ion-action-sheet
  trigger="open-action-sheet"
  header="Are you sure?"
  (didDismiss)="actionResult($event)"
  [buttons]="actionSheetButtons">
</ion-action-sheet>
