<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="trips"
      href="/tabs/trips">
      Trips
      <ion-icon
        aria-hidden="true"
        name="airplane-outline">
      </ion-icon>
    </ion-tab-button>

    <ion-tab-button
      tab="profile"
      href="/tabs/profile">
      Profile
      <ion-icon
        aria-hidden="true"
        name="person-circle-outline">
      </ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-button class="add-trip-btn">
  <ion-icon
    slot="icon-only"
    name="add">
  </ion-icon>
</ion-button>
