<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Forgot Password?</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (sent$ | async) {
  <p class="subtitle">
    <b>Great job!</b> We've just sent a link to your email. Please check your
    inbox and follow the instructions to reset your password. You'll be back in
    no time!
  </p>

  } @else {
  <p class="subtitle">
    We're here to help! Please type in your email address. We'll promptly send
    you a link to reset your password. Hang tight!
  </p>

  <form
    [formGroup]="form"
    (ngSubmit)="resetCode()"
    class="form">
    <ion-input
      mode="md"
      type="email"
      formControlName="email"
      label="Email"
      labelPlacement="stacked"
      fill="outline">
    </ion-input>

    <ion-button
      type="submit"
      expand="block"
      class="mx-auto mt-1"
      color="primary">
      Send Reset Code
    </ion-button>
  </form>
  }
</ion-content>
