<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign up</ion-title>
    </ion-toolbar>
  </ion-header>

  <p class="subtitle">Create an account and start planning your next trip.</p>

  <form
    [formGroup]="form"
    class="form">
    <ion-input
      mode="md"
      type="text"
      formControlName="firstName"
      label="First Name"
      labelPlacement="stacked"
      fill="outline">
    </ion-input>
    <ion-input
      mode="md"
      type="text"
      formControlName="lastName"
      label="Last Name"
      labelPlacement="stacked"
      fill="outline">
    </ion-input>
    <ion-input
      mode="md"
      type="email"
      formControlName="email"
      label="Email"
      labelPlacement="stacked"
      fill="outline">
    </ion-input>

    <ion-input
      [type]="showPassword ? 'text' : 'password'"
      mode="md"
      formControlName="password"
      label="Password"
      labelPlacement="stacked"
      fill="outline">
      <ion-button
        fill="clear"
        slot="end"
        (click)="showPassword = !showPassword;"
        aria-label="Show/hide">
        <ion-icon
          slot="icon-only"
          aria-hidden="true"
          [name]="showPassword ? 'eye' : 'eye-off'">
        </ion-icon>
      </ion-button>
    </ion-input>

    <ion-text class="hint">
      The password must have one uppercase letter, one lowercase letter, one
      number and one special character.
    </ion-text>

    <ion-input
      mode="md"
      type="password"
      formControlName="confirmPassword"
      label="Confirm Password"
      labelPlacement="stacked"
      fill="outline">
    </ion-input>

    <ion-button
      (click)="submit()"
      type="submit"
      expand="block"
      class="mx-auto mt-1"
      color="primary">
      Sign up
    </ion-button>
  </form>

  <ion-toast
    [isOpen]="passwordDontMatch"
    color="danger"
    message="The passwords don't match."
    (didDismiss)="passwordDontMatch = false"
    [duration]="5000">
  </ion-toast>

  <ion-toast
    [isOpen]="errorSignUp"
    color="danger"
    message="There was an error signing up. Please try again."
    (didDismiss)="errorSignUp = false"
    [duration]="5000">
  </ion-toast>
</ion-content>
