<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/trips"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ form.value.name ?? 'New Trip' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [formGroup]="form"
  class="ion-padding"
  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-input
        class="title-large"
        formControlName="name"
        placeholder="Trip name">
      </ion-input>
    </ion-toolbar>
  </ion-header>

  <p class="subtitle">
    Start planning your next adventure! Enter the where you want to go and let's
    get started.
  </p>

  <div class="form">
    <div class="group-card">
      <!-- Where -->
      <div class="card">
        @if (showWhere()) {
        <div class="content">
          <p class="title">Where to?</p>
          <div class="autocomplete">
            <ion-input
              mode="md"
              type="text"
              label="Search destination"
              labelPlacement="stacked"
              fill="outline"
              [clearInput]="true"
              [debounce]="100"
              (ionInput)="autocomplete($event)">
            </ion-input>

            <ion-list>
              @for (place of places(); track trackBy) {
              <ion-item (click)="selectPlace(place)">
                <ion-icon name="navigate-circle-outline"></ion-icon>
                <ion-label class="overflow-text">{{ place.title }}</ion-label>
              </ion-item>
              }
            </ion-list>
          </div>
        </div>
        } @else {
        <div
          (click)="setShowWhere()"
          class="placeholder">
          <span class="title">Where</span>
          <span class="subtitle">{{ place()?.title ?? 'Add place' }} </span>
        </div>
        }
      </div>

      <!-- When -->
      <div class="card">
        @if (showWhen()) {
        <div class="content">
          <p class="title">When's your trip?</p>
          <ion-range-calendar
            formControlName="dateRange"
            type="js-date"
            [options]="optionsRange"
            [format]="'yyyy-MM-dd'">
          </ion-range-calendar>

          <div class="actions">
            <ion-button
              (click)="showWhere()"
              color="light"
              expand="block">
              Back
            </ion-button>

            <ion-button
              (click)="rangeSelected()"
              expand="block"
              color="primary">
              Next
            </ion-button>
          </div>
        </div>
        } @else {
        <div
          (click)="setShowWhen()"
          class="placeholder">
          <span class="title">When</span>
          <span class="subtitle">{{ range() ?? 'Add dates' }}</span>
        </div>
        }
      </div>

      <!-- Who -->
      <div class="card">
        @if (showWho()) {
        <div class="content">
          <p class="title">Who's coming?</p>

          <ng-container formGroupName="people">
            <ion-item>
              <ion-label>
                <h3>Adults</h3>
                <p>Age 13 or above</p>
              </ion-label>
              <app-counter-input formControlName="adults"></app-counter-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>Children</h3>
                <p>Age 12 or below</p>
              </ion-label>
              <app-counter-input formControlName="children"></app-counter-input>
            </ion-item>
          </ng-container>

          <div class="actions">
            <ion-button
              (click)="showWhen()"
              color="light"
              expand="block">
              Back
            </ion-button>

            <ion-button
              (click)="peopleSelected()"
              expand="block"
              color="primary">
              Next
            </ion-button>
          </div>
        </div>
        } @else {
        <div
          (click)="setShowWho()"
          class="placeholder">
          <span class="title">Who</span>
          <span class="subtitle">
            @if (guests()) { {{ guests() }} Guests } @else { Add guests }
          </span>
        </div>
        }
      </div>
    </div>

    <ion-button
      type="submit"
      (click)="createTrip()"
      [disabled]="form.invalid"
      expand="block"
      class="mt-1"
      color="primary">
      Create Trip
    </ion-button>
  </div>
</ion-content>
