<div
  appSwipe
  [class.show-delete-icon]="showDelete()"
  (swipeLeft)="showDeleteBtn()"
  (swipeRight)="hideDeleteBtn()"
  class="timeline-item">
  <div class="timeline-item-marker">
    <ion-icon name="restaurant-outline"></ion-icon>
    <p class="text-sm font-semibold">{{ activity().time }}</p>
    <div class="dot"></div>
  </div>
  <div class="timeline-item-content">
    <div class="header">
      <span class="title">
        {{ activity().name }}
      </span>
    </div>
    <p class="description">{{ activity().notes }}</p>
    <div class="footer">
      <div class="place">
        <ion-icon name="location-outline"></ion-icon>
        <span class="overflow-ellipsis">{{ activity().place.title }}</span>
      </div>
      @if (activity().expense) {
        <div class="expense">
          <ion-icon name="wallet-outline"></ion-icon>
          <span>{{ activity().expense | currency }} </span>
        </div>
      }
    </div>
  </div>

  @if (showDelete()) {
    <ion-button
      (click)="deleteActivity()"
      color="danger"
      class="my-auto">
      <ion-icon name="trash-outline"> </ion-icon>
    </ion-button>
  }
</div>
