.text-underlined {
  text-decoration: underline;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.w-100 {
  width: 100%;
}
