<div class="device-history">
  <h1 class="text-bold">Device history</h1>
  <div class="device-history-item">
    <ion-icon
      size="large"
      name="laptop-outline">
    </ion-icon>
    <div>
      <div class="device">
        <p class="operating-system">OS X 10.15.7</p>
        <p class="browser">Safari</p>
      </div>

      <div class="location-time">
        <span class="location">Orta di Atella, Campania</span>
        <span class="time">Today, 10:30 AM</span>
      </div>
    </div>
  </div>

  <div class="device-history-item">
    <ion-icon
      size="large"
      name="phone-portrait-outline">
    </ion-icon>
    <div>
      <div class="device">
        <p class="operating-system">OS X 10.15.7</p>
        <p class="browser">Safari</p>
      </div>

      <div class="location-time">
        <span class="location">Orta di Atella, Campania</span>
        <span class="time">Today, 10:30 AM</span>
      </div>
    </div>
  </div>
</div>
