<ion-fab style="margin-left: 10px">
  <ion-fab-button size="small">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="end">
    <ion-fab-button (click)="openModel()">
      <ion-icon name="airplane-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="walk"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="bed-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-modal
  [presentingElement]="presentingElement"
  [isOpen]="isModalOpen"
  (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>New Event</ion-title>
        <ion-buttons slot="end">
          <ion-button
            (click)="confirm()"
            [strong]="true">
            Confirm
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="form">
        <ion-select
          labelPlacement="stacked"
          label="Default label"
          placeholder="Favorite Fruit">
          <ion-select-option value="apple">Car</ion-select-option>
          <ion-select-option value="banana">Bus</ion-select-option>
          <ion-select-option value="orange">Airplane</ion-select-option>
          <ion-select-option value="orange">Walk</ion-select-option>
          <ion-select-option value="orange">Metro</ion-select-option>
        </ion-select>

        <ion-input
          mode="md"
          label="First name"
          labelPlacement="stacked"
          fill="outline"
          errorText="Please enter a valid email"
          required>
        </ion-input>

        <ion-input
          mode="md"
          label="Last name"
          labelPlacement="stacked"
          fill="outline">
        </ion-input>

        <ion-input
          mode="md"
          type="email"
          label="Email"
          labelPlacement="stacked"
          errorText="Invalid email"
          fill="outline">
        </ion-input>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
