.trips-type {
  display: flex;
  margin-left: 15px;
  flex-direction: row;

  span {
    margin: 10px;

    &.selected {
      font-weight: 700;

      &:after {
        margin-top: 5px;
        content: "";
        display: block;
        border-bottom: 2px solid var(--ion-color-primary);
      }
    }
  }
}

.trips {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ion-card {
    height: 150px;
    position: relative;

    &.expired {
      opacity: 0.6;
    }

    .thumbnail {
      filter: brightness(60%);
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .expired,
    .name,
    .date,
    .shared-with,
    .price {
      z-index: 1;
      position: absolute;
      color: white;
      text-shadow: 2px 2px 4px #000000;
    }

    .name {
      font-weight: 700;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      font-size: 26px;
    }

    .expired {
      font-weight: 400;
      transform: translate(-50%, -50%);
      top: 70%;
      left: 50%;
      font-size: 18px;
    }

    .date,
    .price {
      margin: 10px;
    }

    .date {
      font-weight: 200;
      top: 0;
      left: 0;
    }

    .price {
      bottom: 0;
      left: 0;
    }

    .shared-with {
      display: flex;
      flex-direction: row;
      align-items: center;
      bottom: 10px;
      right: 10px;
      height: 30px;

      ion-avatar {
        border: 2px solid #f8f8f8f8;
        height: 30px;
        width: 30px;
      }
    }
  }
}
