<div
  class="timeline-item"
  appSwipe
  [class.show-delete-icon]="showDelete()"
  (swipeLeft)="showDeleteBtn()"
  (swipeRight)="hideDeleteBtn()">
  <div class="timeline-item-marker">
    <ion-icon [name]="activity().mode + '-outline'"></ion-icon>
    <p class="text-sm font-semibold">{{ activity().departureTime }}</p>
    <div class="dot"></div>
  </div>

  <div class="timeline-item-content">
    <div class="header">
      <span class="title">{{ activity().name }}</span>
      <div>
        <ion-button
          fill="clear"
          class="ticket">
          <ion-icon name="ticket-outline"></ion-icon>
          <span>{{ activity().number }}</span>
        </ion-button>
      </div>
    </div>
    <p class="description">{{ activity().notes }}</p>
    <div class="timeline-transportation">
      <div class="point">
        <ion-button
          fill="clear"
          class="place">
          {{ activity().from.title }}
        </ion-button>
        <p class="time">{{ activity().departureTime }}</p>
        <p class="line-dashed"></p>
      </div>
      <div class="point">
        <ion-button
          fill="clear"
          class="place">
          {{ activity().to.title }}
        </ion-button>
        <p class="time">{{ activity().arrivalTime }}</p>
      </div>
    </div>

    @if (showDelete()) {
      <ion-button
        color="danger"
        class="my-auto">
        <ion-icon name="trash-outline"> </ion-icon>
      </ion-button>
    }
  </div>
</div>
