<h1 class="text-bold">Login</h1>
<div class="mt-2">
  <div class="password">
    <h5 class="text-bold">Password</h5>
    <ion-buttons
      class="logout"
      slot="end">
      <ion-button
        (click)="openModal$.next(true)"
        class="text-underlined">
        Change
      </ion-button>
    </ion-buttons>
  </div>
  <p class="description">
    Last updated password {{ lastUpdatePassword$ | async }}.
  </p>
</div>

<ion-modal [isOpen]="(openModal$ | async) === true">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Change Password</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="openModal$.next(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form
        [formGroup]="form"
        (ngSubmit)="changePassword()"
        class="form">
        <ion-input
          mode="md"
          autocomplete="password"
          formControlName="oldPassword"
          label="Current password"
          labelPlacement="stacked"
          fill="outline">
        </ion-input>

        <ion-input
          mode="md"
          autocomplete="new-password"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="newPassword"
          label="New password"
          labelPlacement="stacked"
          fill="outline">
          <ion-button
            fill="clear"
            slot="end"
            (click)="showPassword = !showPassword"
            aria-label="Show/hide">
            <ion-icon
              slot="icon-only"
              aria-hidden="true"
              [name]="showPassword ? 'eye' : 'eye-off'">
            </ion-icon>
          </ion-button>
        </ion-input>

        <ion-input
          mode="md"
          formControlName="confirmPassword"
          label="Confirm password"
          labelPlacement="stacked"
          fill="outline">
        </ion-input>

        <ion-button
          type="submit"
          expand="block"
          color="primary">
          Confirm
        </ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
