<ion-modal
  [isOpen]="isModalOpen()"
  (willDismiss)="close()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start"></ion-buttons>
        <ion-title>Plan Your Path</ion-title>

        <!-- Close button -->
        <ion-buttons slot="end">
          <ion-button
            (click)="close()"
            [strong]="true">
            Close
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <p class="text-gray-500 dark:text-gray-400 text-justify">
        Input Transportation Routes for Your Travel Planner
      </p>

      <form
        (ngSubmit)="saveActivity()"
        [formGroup]="form"
        class="form">
        <!-- Name -->
        <ion-input
          class="mt-4"
          mode="md"
          fill="outline"
          label="Label"
          labelPlacement="stacked"
          type="text"
          formControlName="name"
          placeholder="Going to Itacha">
        </ion-input>

        <!-- Transport types -->
        <div class="mt-6 mb-4">
          <p
            class="text-sm font-medium mb-2 leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">
            Transportation type
          </p>
          <ion-radio-group formControlName="means">
            @for (type of transportationTypes; track trackBy) {
              <ion-radio
                mode="md"
                class="w-full"
                [value]="type.value">
                <ion-icon
                  class="align-middle"
                  aria-hidden="true"
                  name="{{ type.value }}-outline">
                </ion-icon>
                {{ type.label }}
              </ion-radio>
            }
          </ion-radio-group>
        </div>

        <!-- From -->
        <app-poi-autocomplete
          label="From"
          formControlName="from"
          placeholder="Ogigia Island"
          [latitude]="place().position.lat"
          [longitude]="place().position.lng">
        </app-poi-autocomplete>

        <!-- To -->
        <app-poi-autocomplete
          label="To"
          formControlName="to"
          placeholder="Ithaca Island"
          [latitude]="place().position.lat"
          [longitude]="place().position.lng">
        </app-poi-autocomplete>

        <div class="grid grid-cols-2 items-center gap-4">
          <!-- Departure time -->
          <div class="space-y-2 text-center">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">
              Departure time
            </label>

            <ion-datetime-button
              mode="md"
              datetime="fromTime">
            </ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  formControlName="departureTime"
                  presentation="time"
                  id="fromTime">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </div>

          <!-- Arrival time -->
          <div class="space-y-2 text-center">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">
              Arrival time
            </label>
            <ion-datetime-button
              mode="md"
              datetime="toTime">
            </ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  formControlName="arrivalTime"
                  presentation="time"
                  id="toTime">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </div>
        </div>

        <!-- Number of stops -->
        <ion-input
          *ngIf="['bus', 'train', 'flight'].includes(form.value['means'])"
          class="mt-4"
          mode="md"
          fill="outline"
          label="Number"
          labelPlacement="stacked"
          type="text"
          formControlName="number"
          placeholder="FR 1234">
        </ion-input>

        <!-- Note -->
        <ion-textarea
          class="mt-2.5"
          rows="3"
          mode="md"
          labelPlacement="stacked"
          label="Add a note"
          formControlName="notes"
          fill="outline"
          placeholder="Don't forget to bring the sunscreen">
        </ion-textarea>

        <div class="mt-2.5">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="tickets">
            Tickets
          </label>
          <input
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            id="tickets"
            placeholder="Upload your tickets"
            multiple
            accept=".pdf"
            type="file" />
          <p class="text-xs text-gray-500 dark:text-gray-400">
            You can only upload PDF files.
          </p>
        </div>

        <ion-button
          type="submit"
          expand="block"
          class="mt-4"
          color="primary">
          {{ isUpdating ? "Update" : "Add" }}
        </ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
