<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reset Password</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (code) {
  <p class="subtitle">
    Almost there! Now, please create a new password. Make sure it's something
    secure that you'll remember. Let's get you back on track!
  </p>

  <form
    [formGroup]="form"
    (ngSubmit)="resetPassword()"
    class="form">
    <ion-input
      mode="md"
      autocomplete="new-password"
      [type]="showPassword ? 'text' : 'password'"
      formControlName="password"
      label="New password"
      labelPlacement="stacked"
      fill="outline">
      <ion-button
        fill="clear"
        slot="end"
        (click)="showPassword = !showPassword"
        aria-label="Show/hide">
        <ion-icon
          slot="icon-only"
          aria-hidden="true"
          [name]="showPassword ? 'eye' : 'eye-off'">
        </ion-icon>
      </ion-button>
    </ion-input>

    <ion-input
      mode="md"
      type="password"
      formControlName="confirmPassword"
      label="Confirm password"
      labelPlacement="stacked"
      fill="outline">
    </ion-input>

    <ion-button
      type="submit"
      expand="block"
      color="primary">
      Confirm
    </ion-button>
  </form>
  } @else {
  <p class="subtitle">
    Oops! It seems like we couldn't find a code to reset your password. Please
    make sure you've entered the correct code that we sent to your email. If
    you're still having trouble, don't worry! You can request a new code and
    we'll send it right away. Hang in there!
  </p>
  }
</ion-content>
