<div
  appSwipe
  (swipeLeft)="showDeleteBtn()"
  (swipeRight)="hideDeleteBtn()"
  [class.show-delete-icon]="showDelete()"
  class="timeline-container">
  <div class="timeline-item">
    <div class="timeline-item-marker">
      <ion-icon name="eye-outline"></ion-icon>
      <p class="text-sm font-semibold">{{ activity().time }}</p>
      <div class="dot"></div>
    </div>

    <div class="timeline-item-content">
      <div class="header">
        <span class="title">
          {{ activity().name }}
        </span>
      </div>
      <p class="description">{{ activity().notes }}</p>
      <div class="footer">
        <div class="place">
          <ion-icon name="location-outline"></ion-icon>
          <span class="overflow-ellipsis">{{ activity().place.title }}</span>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        @if (activity().expense) {
          <div class="expense">
            <ion-icon name="wallet-outline"></ion-icon>
            <span>{{ activity().expense | currency }} </span>
          </div>
        }
      </div>
    </div>
  </div>

  <div>
    <ion-button
      (click)="delete()"
      color="danger"
      class="my-auto">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>

    <ion-button
      (click)="update()"
      color="warning"
      class="my-auto">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </div>
</div>
