<ion-list-header>
  <ion-label>{{ date() | date: "dd MMM" }}</ion-label>
</ion-list-header>
<div class="timeline">
  @for (activity of activities; track trackByActivityId) {
    @switch (activity.type) {
      @case ("transportation") {
        <app-event-transportation [activity]="activity">
        </app-event-transportation>
      }
      @case ("accommodation") {
        <app-event-accommodation [activity]="activity">
        </app-event-accommodation>
      }
      @case ("eatery") {
        <app-event-eatery [activity]="activity"></app-event-eatery>
      }
      @case ("entertainment") {
        <app-event-entertainment [activity]="activity">
        </app-event-entertainment>
      }
    }
  } @empty {
    <p class="text-gray-500">No activities for the day</p>
  }

  <div style="height: 50px">
    <app-new-event></app-new-event>
  </div>
</div>
