<ion-list-header>
  <ion-label>21 Jul</ion-label>
</ion-list-header>
<div class="timeline">
  @for (activity of activities; track trackByActivityId) {
    @switch (activity.type) {
      @case ("transportation") {
        <app-event-transportation [activity]="activity">
        </app-event-transportation>
      }
      @case ("accommodation") {
        <app-event-accommodation [activity]="activity">
        </app-event-accommodation>
      }
      @case ("eatery") {
        <app-event-eatery [activity]="activity"></app-event-eatery>
      }
      @case ("entertainment") {
        <app-event-entertainment [activity]="activity">
        </app-event-entertainment>
      }
    }
  }

  <div style="height: 50px">
    <app-new-event></app-new-event>
  </div>
</div>

<ng-template
  let-event="event"
  #defaultEvent>
  <div class="timeline-item-content">
    <div class="header">
      <span class="title">
        {{ event.title }}
      </span>
    </div>
    <p class="description">{{ event.description }}</p>
    <div class="footer">
      <div class="place">
        <ion-icon name="location-outline"></ion-icon>
        <ion-button
          fill="clear"
          class="place">
          {{ event.place }}
        </ion-button>
      </div>
      <div
        *ngIf="event.expense"
        class="expense">
        <ion-icon name="wallet-outline"></ion-icon>
        <span>{{ event.expense | currency }} </span>
      </div>
    </div>
  </div>
</ng-template>
