.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  ion-text {
    flex: 1 auto;

    .full-name {
      margin-bottom: 0 !important;
    }

    .see-profile {
      margin-top: 5px !important;
      color: var(--ion-color-medium-tint);
    }
  }

  ion-icon {
    width: 25.6px;
    margin-right: 10px;
  }
}

.profile-container {
  padding: 15px;

  &:after {
    margin-top: 5px;
    content: "";
    display: block;
    border-bottom: 1px solid var(--ion-color-light);
  }
}
